:root {
    --main-color: #86B98C;
    --white: #FFFFFF;
    --white-90: #E6E6E6;
    --main-red: #B98686;
    --black: #191919;
    --placeholder-color: #757575;
    --white-50: #808080;
}
::selection{
  background-color: var(--main-color);
  color: var(--white);
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
}
button{
  outline: transparent !important;            
  border: none;
  padding: 0;
}
textarea, input{
  border: none;
  outline: transparent;
  font-size: 16px;
  color: var(--black);
  transition: all 100ms ease-in-out;
}
textarea, input[type="text"]{
  border-radius: 42px;
  height: 36px;
  width: 100%;
  padding: 8px 16px 8px 48px;
}
textarea:focus, input[type="text"]:focus{
  outline: 2px solid var(--main-color);
}
input::placeholder{
  color: var(--placeholder-color);
}
input[type="text"]:focus::placeholder{
  color: var(--black);
}
textarea{
  overflow: hidden;
}
.mainbar{
    display: flex;
    flex-direction: column;
}
.topBar {
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    border-radius: 0 0 25px 25px;
    width: 100vw;
    height: 90px;
    position: fixed;
    z-index: 2;
}
.middleBar {
    display: flex;
    background-color: var(--white);
    width: 100vw;
    z-index: 4;
}
.bottomBar{
    position: fixed;
    display: flex;
    width: 100vw;
    height: 128px;
    bottom: 0;
}
.navBar{
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 248px;
  height: 64px;
  background-color: var(--white-90);
  border-radius: 12px;
  z-index: 2;
}
.buttonBG{
  align-self: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background-color: var(--white-90);
}
.main-button{
  margin: auto;
  display: flex;
  position: relative;
  height: 48px;
  width: 48px;
  background-color: var(--main-color);
  border-radius: 50%;
  padding: 0;
  transition: all 200ms cubic-bezier(0.45, 1.45, 0.8, 1);
  z-index: 5;
}
.plus-button{
  margin: auto;
}
.buttonBG span{
  background-color: var(--white-90);
  position: absolute;
  margin-left: -10px;
  margin-top: -1px;
  width: 20px;
  height: 3px;
  border-radius: 2px;
}
.buttonBG span:nth-child(1){
  transform: rotate(90deg);
  transition: all 200ms cubic-bezier(0.45, 1.45, 0.8, 1);
}
.buttonBG span:nth-child(2){
  transition: all 300ms cubic-bezier(0.45, 1.45, 0.8, 1);
}
.buttonBG .active{
  background-color: var(--main-red);
  border-radius: 12px;
  transform: scale(0.8);
}
.buttonBG .active span:nth-child(1){
  transform: rotate(-225deg);
} 
.buttonBG .active span:nth-child(2){
  transform: rotate(-135deg);
}
.appLogo{
  background-image: url(LetterLogo.svg);
  width: 108.5px;
  height: 42px;
  margin: 32px 16px 32px 32px;
}
.searchBar{
  margin: 32px 32px 32px 16px;
  color: var(--placeholder-color);
  transition: all 100ms ease-in-out;
  float: right;
}
.searchBar input{
  background-color: var(--white-90);
}
.searchBar i{
  position: absolute;
  margin: 10px 0px 10px 16px;
}
.searchBar:focus-within {
  color: var(--black);
}
.house-button, .random-button{
  display: flex;
  height: 48px;
  width: 48px;
  transition: all 200ms ease-in-out;
  border-radius: 8px;
}
.house-button{
  margin: auto auto auto 28px;
}
.random-button{
  margin: auto 28px auto auto;
}
.house-button button, .random-button button{
  background: transparent;
  margin: auto;
  width: 48px;
  height: 48px;
  font-size: 32px;
}
.house-button:active, .random-button:active{
  background-color: rgba(134, 185, 140, 0.5);
}
.nav-button{
  display: flex;
}
.house-button i, .random-button i{
  margin: auto;
  color: var(--white-50);
}
.house-button .active i, .random-button .active i{
  color: var(--main-color);
  animation: scale-up 200ms cubic-bezier(0.45, 1.45, 0.8, 1);
}

@keyframes scale-up {
  0% {
      opacity: 0;
      transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-bg{
  display: flex;
  position: absolute;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: rgba(25, 25, 25, 0.5);
  animation: fade-in 100ms ease-in-out;
}
.modal{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 320px;
  height: 480px;
  position: relative; 
  background-color: var(--white-90);
  border-radius: 12px;
  animation: jump-in 300ms cubic-bezier(0.45, 1.45, 0.8, 1);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes jump-in {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.modal-top{
  display: flex;
  position: relative;
  margin: 16px 16px 0 16px;
  flex-direction: row;
  height: 32px;
}
.modal-top p{
  font-weight: bolder;
  font-size: 24px;
  width: 100%;
}
.modal-top button{
  display: flex;
  width: 36px;
  background-color: transparent;
  border-radius: 8px;
}
.modal-top span{
  position: absolute;
  margin-left: 8px;
  margin-top: 15px;
  width: 16px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--black);
}
.modal-top span:nth-child(1){
  transform: rotate(45deg);
}
.modal-top span:nth-child(2){
  transform: rotate(135deg);
}
.modal-middle{
  display: flex;
  flex-direction: column;
  margin: 16px;
  height: 100%;
}
.modal-middle form{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.modal-middle .text{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.modal-middle textarea{
  margin: 16px 0 16px 0;
  text-align: left;
  border-radius: 20px;
  height: 100%;
}
.modal-middle input[type="submit"]{
  background-color: var(--main-color);
  border-radius: 12px;
  padding: 12px 64px;
  margin: auto;
  color: var(--white);
}
.modal-middle i{
  z-index: 6;
  position: absolute;
  color: var(--placeholder-color);
  margin: 10px 0px 10px 16px;
}
.name:focus-within i, .text:focus-within i{
  color: var(--black);
}
.modal-middle .text i{
  margin: 26px 0px 10px 16px;
}
